$primary:       #fc5917 !default;
@import "../node_modules/bootstrap/scss/bootstrap.scss";


.nav-link, .navlink:visited {
    color: white !important;
    text-decoration: none;
}

.navbar {
    padding: 10px 100px;
    background-color: #000;
}

.navbar a {
    color: white;
    margin: 0px 35px;
    font-size: 16px;
    font-family: "Hind Guntur", sans-serif;
    vertical-align: middle !important;
}

.navbar-btn {
    background-color: #fc5917;
    border: none;
    padding: 10px 50px !important;
}

.landing {
    background-image: url("../assets/images/Landing/roberto-carlos-roman-TS_g_856-CA-unsplash.jpg");
    height: 1020px;
    background-size: cover;
}

.landing-container {
    width: 50%;
    margin: 0px 5%;
}

.landing-text {
    margin: 65px 0px 0px 0px;
    padding: 40% 0px 0px 0px;
}

.landing-text h1 {
    font-size: 54px;
    font-weight: 400;
    font-family: "Viga", sans-serif;
}

.products-container {
    width: 80%;
    margin: 0px auto;
    padding: 40px 0px;
}

.products-header {
    font-family: "Hind Guntur", sans-serif;
    font-size: 36pt;
    padding: 0 0 0 15px;
    margin: 0 0 0 20px;
}

@media (max-width(576px)) {
    .products-header {
        text-align: center;
    }

    .product > .product-card {
        margin: 0 auto 100px auto;
    }
    
    .products-container {
        width: 95%;
    }
}

.product > .product-card:hover {
    background-color: #fc5917;
    color: #fbece0;
}

.product-card:hover .buyNowbtn {
    display: block;
}

.product-card:hover  .card-img-top {
    opacity: 100%;
}

.product > .product-card {
    border-radius: 23px;
    background-color: #fbece0;
    width: 253px;
    height: 380px;
    border: none;
    position: relative;
    padding: 5px;
    color: #131314;
    margin:0 0 100px 0;
    transition: 0.25s ease-in-out;
}

.buyNowbtn {
    display: none;
    transition: 0.25s ease-in;
    height: 28px;
    font-size: 12px;
    z-index: 3;
}

.product > .product-card > .card-body{
    padding: 10px;
}

.product > .product-card > .card-body > .card-subtitle {
    padding: 0 0 5px 0;
    
}

.product > .product-card > .card-body > .card-title {
    margin-bottom: 5px;
}

.product-card > .card-img-top {
    border-radius: 20px;
    width: 243px !important;
    height: 243px !important;
    opacity: 40%;
    transition: ease-in-out 0.25s;
}

.product > .product-card > .card-text {
    font-family: "Raleway", sans-serif;
    font-size: 11pt;
}

.buyNowbtn {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 12px;
    font-family: "Hind Guntur", sans-serif;
    width: 100px;
    margin: 20px;
    box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.2);
}